<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.km.exchangediary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExchangeDiary"
        android:usesCleartextTraffic="true">

        <activity android:name=".ui.bridge.BridgeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.home.HomeActivity" />
        <activity android:name=".ui.diary.DiaryActivity" />
        <activity android:name=".ui.notification_page.NotificationPageActivity" />
        <activity android:name=".ui.profile.ProfileActivity" />
        <activity android:name=".ui.profile.ProfileEditActivity" />
        <activity android:name=".ui.select_next_writer.SelectNextWriterActivity"/>
        <activity android:name=".ui.group_management.GroupManagementActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.km.exchangediary.ui.profile.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity android:name=".ui.login.LoginActivity">
            <intent-filter>
                <data
                    android:host="oauth"
                    android:scheme="@string/kakao_native_app_key" />
            </intent-filter>
        </activity>
    </application>

</manifest>